@font-face {
  font-family: 'Ubuntu';
  src: url('../../public/fonts/Ubuntu-Regular.ttf');

}

* {
  text-align: center;
  font-family: 'Ubuntu';
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
