<div class="card">
<div>
  <app-header [text]="'Tip Calculator, please fill the information below'"/>
</div>
<div class="container">
  <form #tipForm="ngForm" (ngSubmit)="onSubmit(tipForm)">
    <div>
      <label for="serviceCost">Service Cost: </label>
      <input type="number" name="serviceCost" id="serviceCost" [(ngModel)]="tipDetails.serviceCost" required>
      <div *ngIf="!tipForm.controls['serviceCost']?.untouched && tipForm.controls['serviceCost']?.invalid">
        Service Cost is required, please only input a number!
      </div>
    </div>

    <p>Service quality:</p>
    <div *ngFor="let quality of serviceQualityOptions | keyvalue" class="quality">
      <label for="qualityService" id="quality">{{quality.key}}</label>
      <input type="radio" name="qualityService" id="qualityService" [(ngModel)]="tipDetails.serviceQuality" [value]="quality.value">
    </div>

    <div>
      <label for="roundTip">
        <input type="checkbox" name="roundTip" id="roundTip" [(ngModel)]="tipDetails.roundTip">
        Round tip
      </label>
    </div>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>
  <hr>
<div class="container">
  <app-footer/>
</div>
</div>
